<div layout="column" layout-align="center">
  <img class="content" style="display: block; margin: 0 auto;" src="http://i.imgur.com/DCMsdEM.jpg" alt="portrait" height="450" width="450">
  <div id="aboutMe" style="text-align: center;">
  	Alex Yi <br><br>
  	New grad looking for opportunities in software engineering. As a hard working self-learner with experience in developing mobile and web applications, I want to continue to expand my toolset by learning and applying new skills. <br><br>
  	atyi@ucdavis.edu
  </div>
</div>